*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 3px;
    /* font-family: monospace; */
    -webkit-user-select: none; 
    -ms-user-select: none;     
    user-select: none; 
}
.main-div{
    display: flex;
    min-height  : 100vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    gap: 15px;
}
.calculator-div{
    background-color:rgb(239, 239, 239) ;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.display-div{
    height: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: xx-large;
    text-align: right;
    width: 365px;
    word-break: break-all;
}   
.btn-div{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 5px;
}
.btn{
    background-color: rgb(245, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 15px 9px 15px;
    border: 1px solid rgb(250, 250, 250);
    cursor: pointer;
}
.btn:hover, .list-item:hover{
    background-color: rgb(220, 220, 220);
}  
.btn:active, .list-item:active{
    transform: scale(0.97);
} 
.empty1{
    background-color:rgb(239, 239, 239) ;
    grid-column: span 3;
    border: none;
}
.empty2{
    background-color:rgb(239, 239, 239) ;
    grid-column: span 1;
    border: none;
}
.empty1.btn:hover, .empty2:hover{
    cursor:default;
    transform: none;
    background-color: rgb(239, 239, 239)    ;
}
.function{
    grid-column: span 2;
}
.trigonometry{
    grid-column: span 2;
    font-size: medium;
    outline: none;
}
.nums{
    background-color: white;
    font-size: large;
    font-weight: bold;
}
.symbol{
    font-size: x-large;
}
.history-div{
    height: 620px;
    width: 375px;
    padding: 5px;
    background-color:rgb(239, 239, 239) ;
}
.title{
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: large;
    font-weight: bold;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 571px;
    overflow: auto;
}
.list-item{
    background-color: rgb(245, 244, 244);
    padding: 9px 15px 9px 15px;
    border: 1px solid rgb(250, 250, 250);
    cursor: pointer;
}   

@media (max-width:760px){
    .main-div{
        flex-direction: column;
    }
}   